In [2]:
import pandas as pd
import sqlalchemy as db
from sqlalchemy import text
import pandas as pd

In [3]:
engine = db.create_engine("mysql://root:root@172.16.5.4:3310/ecommerce")
conn = engine.connect()

In [28]:
df = pd.read_sql("select * from orden_por_cliente",conn)
df.head()

,orden_id,cliente_id,estado_orden,fecha_hora_orden_compra,fecha_hora_orden_aprobada,fecha_hora_entrega_transportadora,fecha_hora_entrega_cliente,fecha_estimada_entrega
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,10/2/2017 10:56,10/2/2017 11:07,10/4/2017 19:55,10/10/2017 21:25,10/18/2017 0:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,7/24/2018 20:41,7/26/2018 3:24,7/26/2018 14:31,8/7/2018 15:27,8/13/2018 0:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,8/8/2018 8:38,8/8/2018 8:55,8/8/2018 13:50,8/17/2018 18:06,9/4/2018 0:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,11/18/2017 19:28,11/18/2017 19:45,11/22/2017 13:39,12/2/2017 0:28,12/15/2017 0:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2/13/2018 21:18,2/13/2018 22:20,2/14/2018 19:46,2/16/2018 18:17,2/26/2018 0:00

In [10]:
df_orden = pd.read_csv("./data/item_orden.csv", delimiter=";")
df_orden.head()

,orden_id,orden_item_id,producto_id,vendedor_id,fecha_limite_envio,precio,valor_transporte
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,9/19/2017 9:45,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,5/3/2017 11:05,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,1/18/2018 14:48,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,8/15/2018 10:10,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2/13/2017 13:57,199.90,18.14

In [14]:
#Insercion de datos de orden por cliente
orden_por_cliente = pd.read_csv("./data/orden_por_cliente.csv", delimiter=";")

In [16]:
orden_por_cliente.to_sql('orden_por_cliente', con=conn, if_exists='append', index=False)

99441

In [11]:
#Insercios de datos de orden
df_orden.to_sql('item_orden', con=conn, if_exists='append', index=False)

112650

In [17]:
#Insercion de datos de pago
pagos = pd.read_csv("./data/pagos.csv", delimiter=";")

In [18]:
#Insercion de datos de pago
pagos.to_sql('pagos', con=conn, if_exists='append', index=False)

103886

In [19]:
#Insercion de datos de producto
producto = pd.read_csv("./data/producto.csv", delimiter=";")

In [20]:
#Insercion de datos de producto
producto.to_sql('producto', con=conn, if_exists='append', index=False)

32951

In [23]:
# Insercion de datos de revision
revision = pd.read_csv("./data/revision.csv", delimiter=";", encoding="ISO-8859-1")

In [24]:
# Insercion de datos de revision
revision.to_sql('revision', con=conn, if_exists='append', index=False)

104719

In [26]:
# Insercion de datos de vendedor
vendedor = pd.read_csv("./data/vendedor.csv", delimiter=";", encoding="ISO-8859-1")

In [27]:
# Insercion de datos de vendedor
vendedor.to_sql('vendedor', con=conn, if_exists='append', index=False)

3095